html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	border: solid 1px #e8e8e8;
	margin-bottom: 10px;
	border-radius: 3px;

}